<div class="sidebar">
    <section class="widget">
        <h2><strong>search</strong> movies</h2>
        <form ng-submit="getMovies()">
            <select class="wide" ng-model="searchCategory"
                    ng-options="cat.name as cat.name for cat in movieCategories">
                <option value="" class="">-- choose genre --</option>
            </select>
            <input class="wide" ng-model="searchName" type="text"
                   placeholder="search name">
            <input class="wide" ng-model="pin" type="password" placeholder="pin">
            <input class="wide" type="submit" value="go">
        </form>
        <br>
        <label>Edit Mode<input class="ck" type="checkbox" ng-model="editMode"></label>
    </section>
    <div class="info-box" style="">
        <div class="name"></div>
        <div class="desc"></div>
        <div class="rating"></div>
        <div class="rating-imdb"></div>
        <div class="close" ng-click="closeInfo()">x</div>
    </div>
</div>
<div class="content">
    <div class="row" ng-repeat="movies in movieList">
        <div class="tile col-xs-12 col-sm-6 col-md-3" ng-repeat="movie in movies">
            <a ng-hide="{{movie.imdb.rated === 'R' && pin!=1823}}" href="#moviePlay/play/{{movie.id}}">{{movie.name}}</a><br>
            <img ng-src={{movie.poster}} height="100" width="100" onerror="this.style.display='none'">
            <div ng-show="editMode">
                <select ng-model="movie.genre" class="wide"
                        ng-options="cat.name as cat.name for cat in movieCategories">
                    <option value="">-- choose genre --</option>
                </select><br>
                <input type="text" placeholder="rename" ng-model="movie.name">
                <input class="wide" type="submit" ng-click=updateMovie(movie) value="update">
            </div>
        </div>
    </div>
</div>