<div class="sidebar">
    <section class="widget">
        <h2><strong>search</strong> TV</h2>
    </section>
</div>
<div class="content">
    <div class="row" ng-repeat="shows in tvList">
        <div class="tile col-xs-12 col-sm-6 col-md-3" ng-repeat="show in shows">
            <img ng-src={{show.poster}} ng-click="showEpisodes(show.name)" height="100" width="100"><br>
            <div style={{show.style}}>
            <span ng-repeat="episode in show.episodes">
                <a id="{{episode.id}}" ng-href="#moviePlay/play/{{episode.id}}" >{{episode.episode}} </a>
            </span>
            </div>
        </div>
    </div>
</div>