@import url(http://fonts.googleapis.com/css?family=Roboto:300);

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    /*display: block;*/
}

a {
    cursor: pointer;
}

html {
    background-color: #fff;
}

ul {
    padding-left: 5px;
    padding-right: 5px;
}

select {
    width: 100%;
    border: 0;
    height: 30px;
    margin: 5px 0 5px 0;
}

input.wide {
    padding: 0;
    border: 0;
    height: 30px;
    margin: 5px 0 5px 0;
}

audio {
    width: 100%;
}

select {
    width: 100%;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.remove-bookmark{
    cursor: pointer;
    color: #000;
    margin-top: 20px;
    background-color: #ccc;
    padding: 8px;
    width: 112px;
    transition: color .5s ease;
}

.remove-bookmark:hover {
    color: #666;
    transition: color .5s ease;
}

#pagewrap {
    min-width: 100%;
    margin: 0 auto;
    background-color: #000000;
    font-family: tahoma, arial, verdana;
    border-radius: 5px;
    color: #fff;
}

#pagewrap a {
    color: #666666
}

#header {
    color: #fff;
    background-color: #666;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

#content {
    width: 50%;
    float: left;
    color: white;
    padding: 1% 4%;
}

#content img {
    width: 200px;
    height: auto;
}

#content select {
    width: 50% !important;
}

#content input {
    width: auto;
}

#sidebar {
    width: 30%;
    float: right;
    color: #FFFFFF;
    background-color: #666666;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

#sidebar li {
    list-style-type: none;

}

#sidebar a {
    color: #FFFFFF;
}

.movieWrapper {
    position: relative;
}

.movieName {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer {
    color: #FFFFFF;
    clear: both;
    background-color: #666666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}

#main-nav li {
    float: left;
    width: 20%;
    list-style-type: none;
}

#main-nav img {
    max-width: 100%;
    height: auto;
}

#iframe {
    background-color: #000000;
}

.delete-link {
    cursor: pointer;
}

.delete-link:hover {
    color: gainsboro;
    text-decoration: underline;
}

.info-icon{
    top: 2px;
    left: 2px;
    position: absolute;
    background: grey;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    font-weight: 800;
    border: 2px solid #dbdbdb;
    opacity: .7;
    z-index: 1;
}

.info-icon:hover{
    cursor: pointer;
    border: 2px solid #ffffff;
    opacity: 1;
}

.info-box {
    position: fixed;
    background-color: white;
    border-radius: 3px;
    color: #191818;
    text-align: left;
    padding: 25px;
    width: 250px;
    transition:opacity .5s ease;
    z-index: 0;
    opacity: 0;
    box-shadow: 10px 10px 5px rgba(0,0,0,.4)
}

.info-box.show {
    z-index: 100;
    opacity: 1;
    transition: opacity .5s ease;
}

.info-box .name {
    font-size: 18px;
    padding-bottom: 10px;
}

.info-box .desc {
    padding-bottom: 10px;
}

.info-box .rating {
    display: inline-block;
    width: 100px;
}

.info-box .rating-imdb{
    display: inline-block;
    width: 100px;
    text-align: right;

}

.info-box .close {
    position: absolute;
    top: 6px;
    right: 15px;
    color: rgba(103, 101, 101, 0.57);
    cursor: pointer;
}

.thirty, .fortyfive {
    width: 100%;
}

@media screen and (max-width: 1321px) {
    .movieName {
        width: 30%;
    }

    #content h1 {
        display: none;
    }

    #header img {
        max-height: 80px;
        max-width: 100%;
    }

    #sidebar {
        width: auto;
        float: none;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 2px;

    }

    #sidebar h2 {
        display: none;
    }

    .thirty {
        width: 30%;
    }

    .fortyfive {
        width: calc(50% - 3px);
    }

    #sidebar ul li {
        list-style-type: none;
        display: inline !important;

    }

    #content {
        width: auto;
        float: none;
    }

    #content img {
        width: 200px;
        height: auto;
    }

    #content h3 {
        display: none;
    }
}

@media screen and (max-width: 834px) {
    .movieName {
        width: 30%;
    }

    #content h1 {
        display: none;
    }

    #header img {
        max-height: 80px;
        max-width: 100%;
    }

    #sidebar {
        width: auto;
        float: none;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 2px;

    }

    #sidebar h2 {
        display: none;
    }

    .thirty {
        width: calc(33% - 3px);
    }

    .fortyfive {
        width: calc(50% - 3px);
    }

    #sidebar ul li {
        list-style-type: none;
        display: inline !important;

    }

    #content {
        width: auto;
        float: none;
    }

    #content img {
        width: 140px;
        height: auto;
    }

    #content h3 {
        display: none;
    }
}

@media screen and (max-width: 777px) {
    .movieName {
        display: none;
    }

    #content h1 {
        display: none;
    }

    #sidebar {
        width: auto;
        float: none;

    }

    #content {
        width: auto;
        float: none;
    }

    #content img {
        width: 120px;
        height: auto;
    }

    #content h3 {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .thirty {
        width: calc(33% - 3px);
    }

    h4 {
        font-size: 10px;

    }
    #main-nav li {
        float: left;
        width: 20%;
        list-style-type: none;
    }

    #content {
        width: auto;
        float: none;
    }

    #content img {
        width: 65px;
        height: auto;
    }

    #sidebar h2 {
        display: none;
    }

    audio {
        width: 100%;
    }

}
	

	

