<aside class="sidebar">
    <section class="widget">
        <h2><strong>search</strong> audio books</h2>
        <form>
            <select class="wide" ng-model="book"
                    ng-options="audioBook.name for audioBook in audioBookList">
                <option value="" class="">-- choose book --</option>
            </select>
            <input class="wide" type="submit" ng-click="getBook(book.name)" value="listen">
        </form>
    </section>
</aside>

<div class="content">
    <div class="row">
        <div class="tile col-xs-12">
            <audio-player tracks="tracks" book="book">
                <div ng-show="book">
                    <audio id="audio" controls="" autoplay=""></audio>
                    Track: 1
                    <div class="remove-bookmark" ng-click="clearBookMarks()">Clear Bookmark</div>
                </div>
            </audio-player>
        </div>
    </div>
</div>