<aside id="sidebar" class="ng-scope">
    <section class="widget">
        <h2><strong>search</strong> movies</h2>
        <form ng-submit="getMovies()" class="ng-pristine ng-valid">
            <select class="thirty wide ng-pristine ng-untouched ng-valid" ng-model="searchCategory"
                    ng-options="cat.name as cat.name for cat in movieCategories">
                <option value="" class="">-- choose genre --</option>
            </select>
            <input class="thirty wide ng-pristine ng-untouched ng-valid" ng-model="searchName" type="text"
                   placeholder="search name">
            <input class="thirty wide" type="submit" value="go">
        </form>
        <br><br>
        <label>Edit Mode<input class="ck ng-pristine ng-untouched ng-valid" type="checkbox" ng-model="editMode"></label>
    </section>
    <div class="info-box" style="">
        <div class="name ng-binding"></div>
        <div class="desc ng-binding"></div>
        <div class="rating ng-binding"></div>
        <div class="rating-imdb ng-binding"></div>
        <div class="close" ng-click="closeInfo()">x</div>
    </div>
</aside>
<div id="content" class="ng-scope">
    <article class="post">
        <table border="0">
            <tbody><!-- ngRepeat: movies in movieList -->
            </tbody>
        </table>
        <div>Welcome to the new LongJohn, report bugs to Dad. Enjoy</div>
    </article>
</div>